
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_442 {
        width: 100%;
height: 844px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_442 {
        display: flex;
flex-direction: column;
align-items: flex-start;
height: 100%;
position: relative;
      }
.Pixso-frame-2_443 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: var(--color-dark);
mix-blend-mode: normal;
      }
.frame-content-2_443 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_444 {
        width: 100%;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_444 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 20px 0px 20px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_445 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-2_446 {
        width: 36px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 8px 8px 8px 8px;
background-color: rgba(26, 26, 46, 1);
mix-blend-mode: normal;
      }
.frame-content-2_446 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: flex-start;
padding: 6px 6px 6px 6px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_447 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1816 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1817 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1818 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1819 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1820 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%206%206'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-frame-9_1821 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1822 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1823 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1824 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_448 {
        font-size: 16px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_449 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 0.08235294371843338);
mix-blend-mode: normal;
      }
.frame-content-2_449 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_450 {
        width: 18px;
height: 18px;
background-image: url(../assets/images/bell0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_453 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_453 {
        display: flex;
flex-direction: column;
gap: 14px;
align-items: flex-start;
padding: 4px 20px 24px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_454 {
        font-size: 20px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_455 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_455 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_456 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.08235294371843338);
mix-blend-mode: normal;
      }
.frame-content-2_456 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 14px 14px 14px 14px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_457 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 174, 192, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_458 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_459 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 3px;
align-items: center;
padding: 2px 6px 2px 6px;
border-radius: 4px 4px 4px 4px;
background-color: rgba(56, 161, 105, 0.1882352977991104);
mix-blend-mode: normal;
      }
.Pixso-vector-2_460 {
        width: 10px;
height: 10px;
background-image: url(../assets/images/trendingup0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_463 {
        font-size: 10px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(104, 211, 145, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_464 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.08235294371843338);
mix-blend-mode: normal;
      }
.frame-content-2_464 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 14px 14px 14px 14px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_465 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 174, 192, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_466 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(104, 211, 145, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_467 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 3px;
align-items: center;
padding: 2px 6px 2px 6px;
border-radius: 4px 4px 4px 4px;
background-color: rgba(56, 161, 105, 0.1882352977991104);
mix-blend-mode: normal;
      }
.Pixso-vector-2_468 {
        width: 10px;
height: 10px;
background-image: url(../assets/images/trendingup.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_471 {
        font-size: 10px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(104, 211, 145, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_472 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.08235294371843338);
mix-blend-mode: normal;
      }
.frame-content-2_472 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 14px 14px 14px 14px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_473 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 174, 192, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_474 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_475 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 3px;
align-items: center;
padding: 2px 6px 2px 6px;
border-radius: 4px 4px 4px 4px;
background-color: rgba(237, 137, 54, 0.1882352977991104);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_476 {
        font-size: 10px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(246, 173, 85, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_477 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
mix-blend-mode: normal;
      }
.frame-content-2_477 {
        display: flex;
flex-direction: column;
gap: 14px;
align-items: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_478 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_478 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_479 {
        font-size: 17px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_480 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 5px 10px 5px 10px;
border-radius: 8px 8px 8px 8px;
background-color: rgba(102, 126, 234, 0.0784313753247261);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_481 {
        font-size: 12px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_482 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 3px 14px 0px rgba(26, 32, 44, 0.050980392156862744) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_482 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_483 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
border-radius: 20px 20px 20px 20px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%20-1.0000%2C%201.0000%2C%200.0000%2C%200.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_484 {
        font-size: 12px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: absolute;
left: 8px;
top: 11px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_485 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-2_485 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_486 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_486 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_487 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_488 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_489 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_489 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_490 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_491 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 3px 8px 3px 8px;
border-radius: 6px 6px 6px 6px;
background-color: rgba(56, 161, 105, 0.125490203499794);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_492 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_493 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 3px 14px 0px rgba(26, 32, 44, 0.050980392156862744) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_493 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_494 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
border-radius: 20px 20px 20px 20px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%20-1.0000%2C%201.0000%2C%200.0000%2C%200.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(72%2C187%2C120%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(56%2C161%2C105%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_495 {
        font-size: 12px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: absolute;
left: 8px;
top: 11px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_496 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-2_496 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_497 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_497 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_498 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_499 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_500 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_500 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_501 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_502 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 3px 8px 3px 8px;
border-radius: 6px 6px 6px 6px;
background-color: rgba(237, 137, 54, 0.125490203499794);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_503 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-warning);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_504 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 3px 14px 0px rgba(26, 32, 44, 0.050980392156862744) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_504 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 16px 16px 16px 16px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_505 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
border-radius: 20px 20px 20px 20px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%20-1.0000%2C%201.0000%2C%200.0000%2C%200.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(246%2C173%2C85%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(237%2C137%2C54%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_506 {
        font-size: 12px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: absolute;
left: 8px;
top: 11px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_507 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-2_507 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_508 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_508 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_509 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_510 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_511 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_511 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_512 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_513 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 3px 8px 3px 8px;
border-radius: 6px 6px 6px 6px;
background-color: rgba(102, 126, 234, 0.125490203499794);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_514 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_515 {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 28px 28px 28px 28px;
box-shadow: 0px 6px 20px 0px rgba(102, 126, 234, 0.3764705882352941) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2056%2056'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_515 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_516 {
        width: 24px;
height: 24px;
background-image: url(../assets/images/plus.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_519 {
        width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_519 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 8px 0px 8px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_519 {
        position: absolute;
left: 0px;
top: 780px;
width: 390px;
height: 64px;
display: flex;
      }
.stroke-2_519 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-frame-2_520 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-2_521 {
        width: 22px;
height: 22px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-rectangle-2_522 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
mix-blend-mode: normal;
      }
.stroke-wrapper-2_522 {
        position: absolute;
left: 12.5%;
top: 12.5%;
right: 58.33%;
bottom: 50%;
width: 29.17%;
height: 37.5%;
      }
.stroke-2_522 {
        position: absolute;
inset: -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
pointer-events: none;
border-width: 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-rectangle-2_523 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
mix-blend-mode: normal;
      }
.stroke-wrapper-2_523 {
        position: absolute;
left: 58.33%;
top: 12.5%;
right: 12.5%;
bottom: 66.67%;
width: 29.17%;
height: 20.83%;
      }
.stroke-2_523 {
        position: absolute;
inset: -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
pointer-events: none;
border-width: 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-rectangle-2_524 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
mix-blend-mode: normal;
      }
.stroke-wrapper-2_524 {
        position: absolute;
left: 58.33%;
top: 50%;
right: 12.5%;
bottom: 12.5%;
width: 29.17%;
height: 37.5%;
      }
.stroke-2_524 {
        position: absolute;
inset: -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
pointer-events: none;
border-width: 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-rectangle-2_525 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
mix-blend-mode: normal;
      }
.stroke-wrapper-2_525 {
        position: absolute;
left: 12.5%;
top: 66.67%;
right: 58.33%;
bottom: 12.5%;
width: 29.17%;
height: 20.83%;
      }
.stroke-2_525 {
        position: absolute;
inset: -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px -0.9166666865348816px;
border-radius: 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px 0.9166666865348816px;
pointer-events: none;
border-width: 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px 1.8333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-paragraph-2_526 {
        font-size: 10px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_527 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-vector-2_528 {
        width: 22px;
height: 22px;
background-image: url(../assets/images/inbox.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_531 {
        font-size: 10px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_532 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-vector-2_533 {
        width: 22px;
height: 22px;
background-image: url(../assets/images/users.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_538 {
        font-size: 10px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_539 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-vector-2_540 {
        width: 22px;
height: 22px;
background-image: url(../assets/images/settings.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_543 {
        font-size: 10px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }

