
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-5_113 {
        width: 100%;
height: 1100px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 217px 0px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.Pixso-frame-5_114 {
        width: 100%;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
box-shadow: 0px 2px 8px 0px rgba(26, 32, 44, 0.0392156862745098) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_114 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 64px 0px 64px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-5_115 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-5_116 {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-color: rgba(26, 26, 46, 1);
mix-blend-mode: normal;
      }
.frame-content-5_116 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: flex-start;
padding: 10px 10px 10px 10px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1669 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1670 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1671 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1672 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1673 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%208%208'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-frame-9_1674 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1675 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1676 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1677 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1678 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 1px;
align-items: flex-start;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1679 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1680 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 70, 193, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_119 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 32px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_120 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_121 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_122 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_123 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_124 {
        width: auto;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20169%2042'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_124 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px 24px 0px 24px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-5_125 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_126 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20163'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%201.0000%2C%20-1.0000%2C%200.0000%2C%201.0000%2C%20-0.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C0.08235294117647059)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(249%2C250%2C251%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_126 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: center;
padding: 40px 64px 28px 64px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_127 {
        font-size: 36px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: center;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: 700px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_128 {
        font-size: 16px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: center;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: 560px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_129 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-5_129 {
        display: flex;
flex-direction: row;
gap: 32px;
align-items: flex-start;
justify-content: center;
padding: 0px 80px 48px 80px;
width: 100%;
position: relative;
      }
.Pixso-frame-5_130 {
        width: 720px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_130 {
        display: flex;
flex-direction: column;
gap: 28px;
align-items: flex-start;
padding: 36px 36px 36px 36px;
width: 100%;
position: relative;
      }
.Pixso-frame-5_131 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_131 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_132 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_133 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_134 {
        width: 100%;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 3px 3px 3px 3px;
background-color: rgba(226, 232, 240, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-5_135 {
        width: 486px;
height: 6px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 3px 3px 3px 3px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20486%206'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_136 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_137 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_137 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-5_138 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-5_139 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 10px 10px 10px 10px;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.stroke-wrapper-5_139 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.stroke-5_139 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-frame-5_140 {
        width: 10px;
height: 10px;
position: absolute;
left: 3px;
top: 3px;
border-radius: 5px 5px 5px 5px;
background-color: var(--color-primary);
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_141 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_142 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-5_143 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
border-radius: 10px 10px 10px 10px;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.stroke-wrapper-5_143 {
        position: relative;
width: 20px;
height: 20px;
flex-shrink: 0;
      }
.stroke-5_143 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-paragraph-5_144 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_145 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_146 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_146 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-5_146 {
        position: relative;
width: 100%;
height: 48px;
display: flex;
flex-shrink: 0;
      }
.stroke-5_146 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-paragraph-5_147 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-vector-5_148 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/chevrondown.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_150 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_151 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_151 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-5_151 {
        position: relative;
width: 100%;
height: 48px;
display: flex;
flex-shrink: 0;
      }
.stroke-5_151 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-paragraph-5_152 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-vector-5_153 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/chevrondown0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-5_161 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_161 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-frame-5_162 {
        width: auto;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-5_162 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.Pixso-vector-5_163 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/arrowleft1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_166 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_167 {
        width: auto;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20124%2048'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_167 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 28px 0px 28px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-5_168 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-vector-5_169 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/arrowright4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-5_180 {
        width: 340px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-5_180 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-5_181 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_181 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
padding: 28px 24px 28px 24px;
width: 100%;
position: relative;
      }
.Pixso-frame-5_182 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_182 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_183 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: 160px;
height: auto;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_184 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px 4px 10px;
border-radius: 8px 8px 8px 8px;
background-color: rgba(56, 161, 105, 0.0941176488995552);
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_185 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_186 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-5_186 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_187 {
        font-size: 38px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_188 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_189 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--color-border);
mix-blend-mode: normal;
      }
.Pixso-frame-5_190 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-5_190 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-5_191 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_191 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_192 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_193 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_194 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_194 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_195 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_196 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_197 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_197 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_198 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_199 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_200 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--color-border);
mix-blend-mode: normal;
      }
.Pixso-frame-5_201 {
        width: 100%;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 4px 16px 0px rgba(56, 161, 105, 0.25098039215686274) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20292%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(72%2C187%2C120%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(56%2C161%2C105%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_201 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-5_202 {
        width: 18px;
height: 18px;
background-image: url(../assets/images/send2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_205 {
        font-size: 16px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_206 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: center;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_207 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_207 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_208 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_209 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_209 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-5_210 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/checkcircle4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_213 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_214 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_214 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-5_215 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/checkcircle3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_218 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_219 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_219 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-5_220 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/checkcircle2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_223 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_387 {
        width: 64px;
height: 64px;
position: absolute;
left: 1348px;
top: 876px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 32px 32px 32px 32px;
box-shadow: 0px 4px 20px 0px rgba(102, 126, 234, 0.3137254901960784) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2064%2064'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_387 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-5_388 {
        width: 28px;
height: 28px;
background-image: url(../assets/images/messagecircle1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }

