
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-9_949 {
        width: 100%;
height: 960px;
overflow: hidden;
position: relative;
flex-shrink: 0;
background-color: rgba(244, 245, 247, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_950 {
        width: 1180px;
height: 960px;
position: absolute;
left: 0px;
top: 0px;
background-color: rgba(26, 26, 46, 0.5);
mix-blend-mode: normal;
      }
.Pixso-frame-9_951 {
        width: 650px;
height: auto;
position: absolute;
left: 265px;
top: 90px;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2) ;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_951 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_952 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-9_952 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 20px 24px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-9_952 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_952 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 231, 235, 1);
      }
.Pixso-frame-9_953 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_954 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(240, 253, 244, 1);
mix-blend-mode: normal;
      }
.frame-content-9_954 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_955 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
background-color: rgba(22, 163, 74, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_956 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_957 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(243, 244, 246, 1);
mix-blend-mode: normal;
      }
.frame-content-9_957 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_958 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(107, 114, 128, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_959 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_959 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
position: relative;
      }
.Pixso-frame-9_960 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_960 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_961 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_961 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_962 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_963 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_963 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_963 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_963 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_964 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_965 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(107, 114, 128, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_966 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_966 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_967 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_968 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_968 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_968 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_968 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_969 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_970 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_970 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_971 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_971 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_972 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_973 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(240, 253, 244, 1);
mix-blend-mode: normal;
      }
.frame-content-9_973 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_973 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_973 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(22, 163, 74, 1);
      }
.Pixso-paragraph-9_974 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(22, 163, 74, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_975 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(22, 163, 74, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_976 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_976 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_977 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_978 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_978 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_978 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_978 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_979 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_980 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(156, 163, 175, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_981 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_981 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_982 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_983 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_983 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_983 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_983 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_984 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_985 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(156, 163, 175, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_986 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_986 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_987 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_988 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_988 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_989 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(240, 253, 244, 1);
mix-blend-mode: normal;
      }
.frame-content-9_989 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
padding: 0px 14px 0px 14px;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_989 {
        position: relative;
width: auto;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_989 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(22, 163, 74, 1);
      }
.Pixso-frame-9_990 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
background-color: rgba(22, 163, 74, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_991 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(22, 163, 74, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_992 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_992 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
padding: 0px 14px 0px 14px;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_992 {
        position: relative;
width: auto;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_992 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-frame-9_993 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
background-color: rgba(107, 114, 128, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_994 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_995 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_995 {
        display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
padding: 0px 14px 0px 14px;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_995 {
        position: relative;
width: auto;
height: 36px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_995 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-frame-9_996 {
        width: 14px;
height: 14px;
position: relative;
flex-shrink: 0;
background-color: rgba(107, 114, 128, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_997 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 114, 128, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_998 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_998 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_999 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1000 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1000 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 12px 12px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_1000 {
        position: relative;
width: 100%;
height: 72px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1000 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_1001 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1002 {
        width: 100%;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 251, 235, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1002 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1003 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-vector-9_1004 {
        width: 16px;
height: 16px;
background-image: url(../assets/images/bell.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-9_1007 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(146, 64, 14, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1008 {
        font-size: 12px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(217, 119, 6, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1009 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-9_1009 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-end;
padding: 16px 24px 16px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-9_1009 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1009 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 231, 235, 1);
      }
.Pixso-frame-9_1010 {
        width: auto;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(243, 244, 246, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1010 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-9_1011 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1012 {
        width: auto;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(22, 163, 74, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1012 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1013 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1014 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }

