
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_18 {
        width: 100%;
height: 960px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.Pixso-frame-2_19 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_19 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 64px 0px 64px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_19 {
        position: relative;
width: 100%;
height: 72px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_19 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-frame-2_20 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-2_21 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2036%2036'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_22 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: absolute;
left: 10px;
top: 8px;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_23 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_24 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 32px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_25 {
        font-size: 15px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_26 {
        font-size: 15px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_27 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_28 {
        font-size: 15px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_29 {
        width: auto;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20169%2042'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_29 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px 24px 0px 24px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_30 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_31 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20229'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%201.0000%2C%20-1.0000%2C%200.0000%2C%201.0000%2C%20-0.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C0.08235294117647059)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(249%2C250%2C251%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_31 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
padding: 64px 64px 40px 64px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_32 {
        font-size: 42px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: -1px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_33 {
        font-size: 18px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: center;
letter-spacing: 0px;
line-height: 159.99999046325684%;
text-decoration: none;
color: var(--color-text-secondary);
width: 600px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_34 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_34 {
        display: flex;
flex-direction: row;
gap: 32px;
align-items: flex-start;
justify-content: center;
padding: 0px 80px 48px 80px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_35 {
        width: 720px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_35 {
        display: flex;
flex-direction: column;
gap: 28px;
align-items: flex-start;
padding: 36px 36px 36px 36px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_36 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_36 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_37 {
        font-size: 22px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_38 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_39 {
        width: 100%;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 3px 3px 3px 3px;
background-color: rgba(226, 232, 240, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-2_40 {
        width: 165px;
height: 6px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 3px 3px 3px 3px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20165%206'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_41 {
        font-size: 17px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_42 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_42 {
        display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 12px 12px;
align-items: flex-start;
align-content: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_43 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20148%2096'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%20-1.0000%2C%201.0000%2C%200.0000%2C%200.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C0.09411764705882353)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C0.03137254901960784)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_43 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_43 {
        position: relative;
width: 148px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_43 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-frame-2_44 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-rectangle-2_45 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.75px 1.75px 1.75px 1.75px;
mix-blend-mode: normal;
      }
.stroke-wrapper-2_45 {
        position: absolute;
left: 12.5%;
top: 12.5%;
right: 12.5%;
bottom: 12.5%;
width: 75%;
height: 75%;
      }
.stroke-2_45 {
        position: absolute;
inset: -0.875px -0.875px -0.875px -0.875px;
border-radius: 1.75px 1.75px 1.75px 1.75px;
pointer-events: none;
border-width: 1.75px 1.75px 1.75px 1.75px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-vector-2_46 {
        width: 81.25%;
height: 6.25%;
background-image: url(@/assets/images/Vector_2_46.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12.5%;
right: 6.25%;
top: 33.33%;
bottom: 60.42%;
      }
.Pixso-vector-2_47 {
        width: 6.25%;
height: 18.75%;
background-image: url(@/assets/images/Vector_2_47.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 12.5%;
right: 81.25%;
top: 27.08%;
bottom: 54.17%;
      }
.Pixso-vector-2_48 {
        width: 6.25%;
height: 18.75%;
background-image: url(@/assets/images/Vector_2_48.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 87.5%;
right: 6.25%;
top: 27.08%;
bottom: 54.17%;
      }
.Pixso-vector-2_49 {
        width: 58.33%;
height: 6.25%;
background-image: url(@/assets/images/Vector_2_49.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 35.42%;
right: 6.25%;
top: 62.5%;
bottom: 31.25%;
      }
.Pixso-vector-2_50 {
        width: 6.25%;
height: 60.42%;
background-image: url(@/assets/images/Vector_2_50.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 35.42%;
right: 58.33%;
top: 33.33%;
bottom: 6.25%;
      }
.Pixso-vector-2_51 {
        width: 18.75%;
height: 6.25%;
background-image: url(@/assets/images/Vector_2_51.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 29.17%;
right: 52.08%;
top: 87.5%;
bottom: 6.25%;
      }
.Pixso-vector-2_52 {
        width: 6.25%;
height: 18.75%;
background-image: url(@/assets/images/Vector_2_52.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 87.5%;
right: 6.25%;
top: 56.25%;
bottom: 25%;
      }
.Pixso-paragraph-2_53 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_54 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_55 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_55 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_55 {
        position: relative;
width: 148px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_55 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-vector-2_56 {
        width: 28px;
height: 28px;
background-image: url(@/assets/images/building20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_62 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_63 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_64 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_64 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_64 {
        position: relative;
width: 148px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_64 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-vector-2_65 {
        width: 28px;
height: 28px;
background-image: url(@/assets/images/shoppingcart0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_69 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_70 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_71 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_71 {
        display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_71 {
        position: relative;
width: 148px;
height: 96px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_71 {
        position: absolute;
inset: 0px;
border-radius: 14px 14px 14px 14px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-frame-2_72 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-rectangle-2_73 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px;
mix-blend-mode: normal;
      }
.stroke-wrapper-2_73 {
        position: absolute;
left: 12.5%;
top: 12.5%;
right: 12.5%;
bottom: 12.5%;
width: 75%;
height: 75%;
      }
.stroke-2_73 {
        position: absolute;
inset: -1.1666666269302368px -1.1666666269302368px -1.1666666269302368px -1.1666666269302368px;
border-radius: 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px;
pointer-events: none;
border-width: 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px 2.3333332538604736px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-text-secondary);
      }
.Pixso-vector-2_74 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/Ellipse_2_74.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 29.17%;
right: 45.83%;
top: 29.17%;
bottom: 45.83%;
      }
.Pixso-vector-2_75 {
        width: 71.34%;
height: 48.89%;
background-image: url(@/assets/images/Vector_2_75.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 25%;
right: 3.66%;
top: 47.2%;
bottom: 3.91%;
      }
.Pixso-paragraph-2_76 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_77 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_78 {
        font-size: 17px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_79 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_79 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_80 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_80 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_80 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_80 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-vector-2_81 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/minus.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_83 {
        width: 100%;
height: 6px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
border-radius: 3px 3px 3px 3px;
background-color: rgba(226, 232, 240, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-2_84 {
        width: 198px;
height: 6px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 3px 3px 3px 3px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20198%206'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-frame-2_85 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 2px 6px 0px rgba(102, 126, 234, 0.26666666666666666) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.stroke-wrapper-2_85 {
        position: absolute;
left: 189px;
top: -7px;
width: 20px;
height: 20px;
      }
.stroke-2_85 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-frame-2_86 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_86 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_86 {
        position: relative;
width: 40px;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_86 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-vector-2_87 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/plus0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_90 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_91 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_91 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-frame-2_92 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-2_92 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_92 {
        position: relative;
width: auto;
height: 48px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_92 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-vector-2_93 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/arrowleft.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_96 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_97 {
        width: auto;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20196%2048'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_97 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 28px 0px 28px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_98 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-vector-2_99 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/arrowright0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_102 {
        width: 340px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_102 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_103 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-2_103 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
padding: 28px 24px 28px 24px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_104 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_104 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_105 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
line-height: 139.9999976158142%;
text-decoration: none;
color: var(--color-text-secondary);
width: 160px;
height: auto;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_106 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px 4px 10px;
border-radius: 8px 8px 8px 8px;
background-color: rgba(56, 161, 105, 0.0941176488995552);
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_107 {
        font-size: 12px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_108 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_108 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_109 {
        font-size: 38px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: -1px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_110 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_111 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--color-border);
mix-blend-mode: normal;
      }
.Pixso-frame-2_112 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-2_112 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_113 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_113 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_114 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_115 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_116 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_116 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_117 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_118 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_119 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_119 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_120 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_121 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_122 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--color-border);
mix-blend-mode: normal;
      }
.Pixso-frame-2_123 {
        width: 100%;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 4px 16px 0px rgba(56, 161, 105, 0.25098039215686274) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20292%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(72%2C187%2C120%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(56%2C161%2C105%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_123 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_124 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/send0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_127 {
        font-size: 16px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-2_128 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: center;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_129 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20340%20149'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-2_129 {
        display: flex;
flex-direction: column;
gap: 14px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_130 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_131 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_131 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-2_132 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/checkcircle1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_135 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(232, 244, 253, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_136 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_136 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-2_137 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/checkcircle0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_140 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(232, 244, 253, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-2_141 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-2_141 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-2_142 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/checkcircle.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_145 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(232, 244, 253, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }

