
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-5_224 {
        width: 100%;
height: 960px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.Pixso-frame-5_225 {
        width: 100%;
height: 72px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
box-shadow: 0px 2px 8px 0px rgba(26, 32, 44, 0.0392156862745098) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_225 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 64px 0px 64px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-5_226 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-5_227 {
        width: 56px;
height: 56px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-color: rgba(26, 26, 46, 1);
mix-blend-mode: normal;
      }
.frame-content-5_227 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: flex-start;
padding: 10px 10px 10px 10px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1687 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1688 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1689 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1690 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1691 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%208%208'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-frame-9_1692 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1693 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1694 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1695 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1696 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 1px;
align-items: flex-start;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1697 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1698 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 70, 193, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_230 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 32px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_231 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_232 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_233 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_234 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_235 {
        width: auto;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20169%2042'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_235 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px 24px 0px 24px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-5_236 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_237 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20163'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%201.0000%2C%20-1.0000%2C%200.0000%2C%201.0000%2C%20-0.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C0.08235294117647059)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(249%2C250%2C251%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_237 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: center;
padding: 40px 64px 28px 64px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_238 {
        font-size: 36px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: center;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: 700px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_239 {
        font-size: 16px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: center;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: 560px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_240 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-5_240 {
        display: flex;
flex-direction: row;
gap: 32px;
align-items: flex-start;
justify-content: center;
padding: 0px 80px 48px 80px;
width: 100%;
position: relative;
      }
.Pixso-frame-5_241 {
        width: 720px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_241 {
        display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
padding: 36px 36px 36px 36px;
width: 100%;
position: relative;
      }
.Pixso-frame-5_242 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_242 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_243 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_244 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_245 {
        width: 100%;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 3px 3px 3px 3px;
background-color: rgba(226, 232, 240, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-5_246 {
        width: 648px;
height: 6px;
position: absolute;
left: 0px;
top: 0px;
border-radius: 3px 3px 3px 3px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20648%206'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_247 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_248 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_248 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-5_248 {
        position: relative;
width: 100%;
height: 52px;
display: flex;
flex-shrink: 0;
      }
.stroke-5_248 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-primary);
      }
.Pixso-vector-5_249 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/phone0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_251 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_252 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_253 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_253 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 16px 16px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-5_253 {
        position: relative;
width: 100%;
height: 120px;
display: flex;
flex-shrink: 0;
      }
.stroke-5_253 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--color-border);
      }
.Pixso-paragraph-5_254 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: 590px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_255 {
        width: 100%;
height: 0px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-5_256 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_256 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-frame-5_257 {
        width: auto;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--color-bg);
mix-blend-mode: normal;
      }
.frame-content-5_257 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.Pixso-vector-5_258 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/arrowleft2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_261 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_262 {
        width: auto;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 12px 12px 12px 12px;
box-shadow: 0px 4px 16px 0px rgba(102, 126, 234, 0.25098039215686274) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20239%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_262 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 32px 0px 32px;
height: 100%;
position: relative;
      }
.Pixso-vector-5_263 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/send4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_266 {
        font-size: 16px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_267 {
        width: 340px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-5_267 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-5_268 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_268 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
padding: 28px 24px 28px 24px;
width: 100%;
position: relative;
      }
.Pixso-frame-5_269 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_269 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_270 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: 160px;
height: auto;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_271 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px 4px 10px;
border-radius: 8px 8px 8px 8px;
background-color: rgba(56, 161, 105, 0.0941176488995552);
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_272 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_273 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-5_273 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_274 {
        font-size: 38px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_275 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_276 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--color-border);
mix-blend-mode: normal;
      }
.Pixso-frame-5_277 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-5_277 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-5_278 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_278 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_279 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_280 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_281 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_281 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_282 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_283 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_284 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_284 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_285 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_286 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_287 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--color-border);
mix-blend-mode: normal;
      }
.Pixso-frame-5_288 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20292%2088'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(56%2C161%2C105%2C0.06274509803921569)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(72%2C187%2C120%2C0.06274509803921569)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_288 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_289 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-5_290 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-success);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_291 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(26, 32, 44, 0.09411764705882353) ;
background-color: var(--color-white);
mix-blend-mode: normal;
      }
.frame-content-5_291 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-5_292 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_293 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_293 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-5_294 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/checkcircle8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_297 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_298 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_298 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-5_299 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/checkcircle7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_302 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_303 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-5_303 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-vector-5_304 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/checkcircle6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-5_307 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-5_390 {
        width: 64px;
height: 64px;
position: absolute;
left: 1348px;
top: 876px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 32px 32px 32px 32px;
box-shadow: 0px 4px 20px 0px rgba(102, 126, 234, 0.3137254901960784) ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2064%2064'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-5_390 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-5_391 {
        width: 28px;
height: 28px;
background-image: url(@/assets/images/messagecircle5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }

