
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-9_1553 {
        width: 100%;
height: 1100px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
padding: 48px 48px 48px 48px;
border-radius: 24px 24px 24px 24px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1554 {
        font-size: 20px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1555 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1555 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 28px 28px 28px 28px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1556 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1557 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1558 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2048%2048'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_1558 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-9_1559 {
        font-size: 16px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1560 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1561 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1562 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(102, 126, 234, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1563 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1563 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 28px 28px 28px 28px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1564 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1565 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1566 {
        width: 52px;
height: 52px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 26px 26px 26px 26px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2052%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_1566 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-9_1567 {
        font-size: 24px;
font-family: "Inter-Black";
font-weight: Black;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1568 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1569 {
        font-size: 20px;
font-family: "Inter-Black";
font-weight: Black;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: transparent;
background-clip: text;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2048%2024'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1570 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 4px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1571 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1571 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 28px 28px 28px 28px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1572 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1573 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1574 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
align-items: flex-start;
padding: 10px 10px 10px 10px;
border-radius: 12px 12px 12px 12px;
background-color: rgba(26, 26, 46, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1581 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1582 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1583 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1584 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1585 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%208%208'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-frame-9_1586 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1587 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1588 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1589 {
        width: 8px;
height: 8px;
position: relative;
flex-shrink: 0;
border-radius: 2px 2px 2px 2px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1590 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 1px;
align-items: flex-start;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1591 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1592 {
        font-size: 11px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 70, 193, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1593 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
background-color: rgba(26, 26, 46, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1593 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 28px 28px 28px 28px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1594 {
        font-size: 12px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 114, 128, 1);
width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1595 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1596 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 4px 12px 4px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2048%2048'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_1596 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-9_1597 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/globe0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-9_1601 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-end;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1602 {
        font-size: 26px;
font-family: "Inter-Black";
font-weight: Black;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1603 {
        font-size: 26px;
font-family: "Inter-Black";
font-weight: Black;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: transparent;
background-clip: text;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2062%2031'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(157%2C111%2C232%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }

