
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-9_849 {
        width: 100%;
height: 960px;
overflow: hidden;
position: relative;
flex-shrink: 0;
background-color: rgba(244, 245, 247, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_850 {
        width: 1180px;
height: 960px;
position: absolute;
left: 0px;
top: 0px;
background-color: rgba(26, 26, 46, 0.5);
mix-blend-mode: normal;
      }
.Pixso-frame-9_851 {
        width: 600px;
height: auto;
position: absolute;
left: 290px;
top: 100px;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2) ;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_851 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_852 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_852 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 20px 24px 20px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-9_852 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_852 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 231, 235, 1);
      }
.Pixso-frame-9_853 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_854 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2040%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_854 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_855 {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.Pixso-vector-9_1018 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/pluscircle.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-9_856 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 46, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_857 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(243, 244, 246, 1);
mix-blend-mode: normal;
      }
.frame-content-9_857 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_858 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(107, 114, 128, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_859 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_859 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
position: relative;
      }
.Pixso-frame-9_860 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_860 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_861 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_861 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_862 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_863 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_863 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_863 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_863 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_864 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_865 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_865 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_866 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_867 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_867 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_867 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_867 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_868 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_869 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_869 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_870 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_871 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_871 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_871 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_871 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_872 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_873 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_873 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_874 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_874 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_875 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_876 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_876 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_876 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_876 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_877 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_878 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(107, 114, 128, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_879 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_879 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_880 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_881 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_881 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_881 {
        position: relative;
width: 100%;
height: 40px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_881 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_882 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_883 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_883 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_884 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_885 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 8px 8px 8px 8px;
background-color: rgba(249, 250, 251, 1);
mix-blend-mode: normal;
      }
.frame-content-9_885 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 12px 12px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_885 {
        position: relative;
width: 100%;
height: 80px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_885 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(209, 213, 219, 1);
      }
.Pixso-paragraph-9_886 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(156, 163, 175, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_887 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-9_887 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-end;
padding: 16px 24px 16px 24px;
width: 100%;
position: relative;
      }
.stroke-wrapper-9_887 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_887 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 231, 235, 1);
      }
.Pixso-frame-9_888 {
        width: auto;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: rgba(243, 244, 246, 1);
mix-blend-mode: normal;
      }
.frame-content-9_888 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.Pixso-paragraph-9_889 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(55, 65, 81, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_890 {
        width: auto;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20191%2040'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_890 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 20px 0px 20px;
height: 100%;
position: relative;
      }
.Pixso-frame-9_891 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_892 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1022 {
        width: 0px;
height: 0px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
mix-blend-mode: normal;
      }

