
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-9_1439 {
        width: 100%;
height: 986px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(247, 246, 243, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1440 {
        width: 100%;
height: 80px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1440 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 64px 0px 64px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1441 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1442 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
border-radius: 10px 10px 10px 10px;
background-color: rgba(26, 26, 46, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1442 {
        display: flex;
flex-direction: row;
gap: 2px;
align-items: flex-start;
padding: 6px 6px 6px 6px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1862 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1863 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1864 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1865 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(102, 126, 234, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1866 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%206%206'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(107%2C70%2C193%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-frame-9_1867 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1868 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1869 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1870 {
        width: 6px;
height: 6px;
position: relative;
flex-shrink: 0;
border-radius: 1px 1px 1px 1px;
background-color: rgba(107, 70, 193, 1);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1443 {
        font-size: 18px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: -0.30000001192092896px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1444 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1445 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 9px 16px 9px 16px;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1446 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: 500;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 107, 107, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1447 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 9px 16px 9px 16px;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1448 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: 500;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 107, 107, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1549 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 9px 16px 9px 16px;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1550 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 107, 107, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1449 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 9px 16px 9px 16px;
border-radius: 8px 8px 8px 8px;
background-color: rgba(102, 126, 234, 0.012546666897833347);
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1450 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: 600;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1451 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px 12px 24px;
border-radius: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20169%2041'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1452 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1453 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20286'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(0.0000%2C%201.0000%2C%20-1.0000%2C%200.0000%2C%201.0000%2C%20-0.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C0.08235294117647059)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(249%2C250%2C251%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_1453 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: center;
padding: 64px 64px 52px 64px;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1454 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
padding: 5px 14px 5px 14px;
border-radius: 20px 20px 20px 20px;
background-color: rgba(102, 126, 234, 0.012546666897833347);
mix-blend-mode: normal;
      }
.stroke-wrapper-9_1454 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1454 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(124, 144, 112, 0.250980406999588);
      }
.Pixso-vector-9_1455 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/messagecircle.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-9_1457 {
        font-size: 12px;
font-family: "Inter-Semi Bold";
font-weight: 600;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: var(--color-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1458 {
        font-size: 52px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
text-align: left;
letter-spacing: -2px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1459 {
        font-size: 18px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
line-height: 159.99999046325684%;
text-decoration: none;
color: rgba(107, 107, 107, 1);
width: 520px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1460 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_1460 {
        display: flex;
flex-direction: row;
gap: 32px;
align-items: flex-start;
padding: 0px 64px 64px 64px;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1461 {
        width: 620px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_1461 {
        display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1462 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.03137254901960784) ;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1462 {
        display: flex;
flex-direction: column;
gap: 18px;
align-items: flex-start;
padding: 36px 32px 36px 32px;
width: 100%;
position: relative;
      }
.stroke-wrapper-9_1462 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1462 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(240, 239, 236, 1);
      }
.Pixso-paragraph-9_1463 {
        font-size: 22px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: -0.4000000059604645px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1464 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(107, 107, 107, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1465 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: rgba(240, 239, 236, 1);
mix-blend-mode: normal;
      }
.Pixso-frame-9_1466 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_1466 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1467 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_1467 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1468 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1469 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(247, 246, 243, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1469 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_1469 {
        position: relative;
width: 100%;
height: 46px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1469 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(232, 231, 227, 1);
      }
.Pixso-paragraph-9_1470 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 160, 160, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1471 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_1471 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1472 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1473 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(247, 246, 243, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1473 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_1473 {
        position: relative;
width: 100%;
height: 46px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1473 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(232, 231, 227, 1);
      }
.Pixso-paragraph-9_1474 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 160, 160, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1475 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_1475 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1476 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1477 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(247, 246, 243, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1477 {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_1477 {
        position: relative;
width: 100%;
height: 46px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1477 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(232, 231, 227, 1);
      }
.Pixso-paragraph-9_1478 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 160, 160, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1479 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
mix-blend-mode: normal;
      }
.frame-content-9_1479 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1480 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1481 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 10px 10px 10px 10px;
background-color: rgba(247, 246, 243, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1481 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 14px 14px 14px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-9_1481 {
        position: relative;
width: 100%;
height: 120px;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1481 {
        position: absolute;
inset: 0px;
border-radius: 10px 10px 10px 10px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(232, 231, 227, 1);
      }
.Pixso-paragraph-9_1482 {
        font-size: 14px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(160, 160, 160, 1);
width: 524px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1483 {
        width: 100%;
height: 54px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20556%2054'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(74%2C62%2C155%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_1483 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-9_1484 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/send.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-9_1487 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1488 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_1488 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1489 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.03137254901960784) ;
background-color: rgba(255, 255, 255, 1);
mix-blend-mode: normal;
      }
.frame-content-9_1489 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
padding: 32px 28px 32px 28px;
width: 100%;
position: relative;
      }
.stroke-wrapper-9_1489 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-9_1489 {
        position: absolute;
inset: 0px;
border-radius: 20px 20px 20px 20px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(240, 239, 236, 1);
      }
.Pixso-paragraph-9_1490 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: -0.30000001192092896px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1491 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-9_1491 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1492 {
        width: 46px;
height: 46px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: rgba(102, 126, 234, 0.0067858826369047165);
mix-blend-mode: normal;
      }
.frame-content-9_1492 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-9_1493 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/phone.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-9_1495 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_1495 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1496 {
        font-size: 12px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(158, 158, 158, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1497 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: 600;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1498 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
mix-blend-mode: normal;
      }
.frame-content-9_1498 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1499 {
        width: 46px;
height: 46px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: rgba(91, 155, 213, 0.08235294371843338);
mix-blend-mode: normal;
      }
.frame-content-9_1499 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-9_1500 {
        width: 18px;
height: 18px;
position: relative;
flex-shrink: 0;
mix-blend-mode: normal;
      }
.Pixso-vector-9_1501 {
        width: 91.69%;
height: 33.33%;
background-image: url(@/assets/images/Vector_9_1501.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: -0.02%;
top: 29.17%;
bottom: 37.5%;
      }
.Pixso-rectangle-9_1502 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.5px 1.5px 1.5px 1.5px;
mix-blend-mode: normal;
      }
.stroke-wrapper-9_1502 {
        position: absolute;
left: 8.33%;
top: 16.67%;
right: 8.33%;
bottom: 16.67%;
width: 83.34%;
height: 66.66%;
      }
.stroke-9_1502 {
        position: absolute;
inset: -0.75px -0.75px -0.75px -0.75px;
border-radius: 1.5px 1.5px 1.5px 1.5px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(91, 155, 213, 1);
      }
.Pixso-frame-9_1503 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_1503 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1504 {
        font-size: 12px;
font-family: "Inter-Medium";
font-weight: Medium;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(158, 158, 158, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1505 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(26, 26, 26, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-frame-9_1514 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 20px 20px 20px 20px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20660%2092'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.7071%2C%200.7071%2C%20-0.7071%2C%20-0.7071%2C%201.2071%2C%200.5000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(74%2C62%2C155%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(102%2C126%2C234%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
mix-blend-mode: normal;
      }
.frame-content-9_1514 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: center;
padding: 24px 28px 24px 28px;
width: 100%;
position: relative;
      }
.Pixso-frame-9_1515 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0.125490203499794);
mix-blend-mode: normal;
      }
.frame-content-9_1515 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-9_1516 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/clock.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-9_1519 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
mix-blend-mode: normal;
      }
.frame-content-9_1519 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-9_1520 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
mix-blend-mode: normal;
      }
.Pixso-paragraph-9_1521 {
        font-size: 13px;
font-family: "Inter-Regular";
font-weight: Regular;
text-align: left;
letter-spacing: 0px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
white-space: pre-wrap;
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
opacity: 0.800000011920929;
mix-blend-mode: normal;
      }

