@font-face {
                font-family: "Inter-Regular"; font-style: normal; src: url('@/assets/fonts/Inter_1.ttf')
            }
@font-face {
                font-family: "Inter-Semi Bold"; font-style: normal; src: url('@/assets/fonts/Inter_1.ttf')
            }
@font-face {
                font-family: "Inter-Bold"; font-style: normal; src: url('@/assets/fonts/Inter_1.ttf')
            }
@font-face {
                font-family: "Inter-Extra Bold"; font-style: normal; src: url('@/assets/fonts/Inter_1.ttf')
            }
@font-face {
                font-family: "Inter-Medium"; font-style: normal; src: url('@/assets/fonts/Inter_1.ttf')
            }